{% load static %}

<header>
    <div class="header-logo">
        iWillRead
    </div>
    <form method="post" class="header-search">
        <input placeholder="Type a section address" type="text">
        <button>Search</button>
    </form>
    <div class="menu-header">
        <a href="#">
            <img src="{% static 'img/base/home.svg' %}" alt="">
            <div>Home</div>
        </a>
        <a href="#">
            <img src="{% static 'img/base/create_section.svg' %}" alt="">
            <div>Create new section</div>
        </a>
    </div>
    <div id="profile-menu-wrap" class="profile-menu-wrap">
        <button class="header-profile">
            <div class="hp-username">renxob</div>
            <div class="profile-image-wrap">
                <img src="{% static 'img/1.jpg' %}" alt="">
            </div>
        </button>
        <div id="profile-menu" class="profile-menu profile-menu-hidden">
            <a class="profile-menu-item" href="">Edit</a>
            <a class="profile-menu-item log-out-btn" href="">Log out</a>
        </div>
    </div>
</header>