{% load static %}

<header>
    <div class="header-logo">
        iWillRead
    </div>
    <form method="post" class="header-search">
        <input placeholder="Type a section address" type="text">
        <button>Search</button>
    </form>
    <div class="menu-header">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/base/home.svg' %}" alt="">
            <div>Home</div>
        </a>
        <a href="{% url 'new_section' %}">
            <img src="{% static 'img/base/create_section.svg' %}" alt="">
            <div>Create new section</div>
        </a>
    </div>
    <div id="profile-menu-wrap" class="profile-menu-wrap">
        <button class="header-profile">
            <div class="hp-username">{{ user.username }}</div>
            <div class="profile-image-wrap">
                {% if user.profilemodel.image %}
                <img src="{{ user.profilemodel.image.url }}" alt="">
                {% endif %}
            </div>
        </button>
        <div id="profile-menu" class="profile-menu profile-menu-hidden">
            <a class="profile-menu-item" href="{{ user.profilemodel.get_absolute_url }}">Edit</a>
            <a class="profile-menu-item log-out-btn" href="{% url 'account_logout' %}">Log out</a>
        </div>
    </div>
</header>