{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/section/section.css' %}">
{% endblock css %}


{% block title %}Section{% endblock title %}


{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}


{%block left_container %}
<div class="section-description-wrap">
	<div class="section-top">
		<div id="section-path-name" class="section-path-name">
		</div>
		<div id="section-detail-wrap" class="section-detail-wrap">
			<button class="section-detail-btn">
				Detail
			</button>
			<div id="section-detail-menu" class="section-detail-menu section-menu-hidden">
				<a href="#" class="section-detail-menu-item">
					Edit
				</a>
				<a href="" class="section-detail-menu-item">
					New subsections
				</a>
				<a href="#" class="section-detail-menu-item delete-secton-btn">
					Delete
				</a>
			</div>
		</div>
	</div>
	<div class="section-image">
		<div id="section-image-wrap" class="section-image-wrap">
			{% if publication.image.url %}
				<img src="{{ publication.image.url }}">
			{% else %}
				<img src="{% static 'img/default.jpg' %}">
			{% endif %}
		</div>
	</div>
	<div class="section-left-content">
		<div id="section-text" class="section-text">
			{{ publication.description|safe }}
		</div>
		<div id="section-tags" class="section-tags">
		</div>
	</div>
</div>
{% endblock left_container %}


{% block right_container %}
<form method="post" enctype="multipart/form-data" class="new-section-form">
	{% csrf_token %}
	{{ form.media }}
	<input type="hidden" value="{{ publication.category.parent_section.id }}" name="parentsection_id">
	<div class="new-form-info">
		<button type="submit" class="new-form-seve-btn">
			Create
		</button>
	</div>
	{{ form.content }}
	{{ form.error }}
</form>
{% endblock right_container %}


{% block script %}
<script type="module" src="{% static 'js/section/section.js' %}"></script>

<script type="module">
	import { contentOperations } from '{% static "js/section/section.js" %}';
	window.addEventListener("load", () => {
		contentOperations();
	});
</script>

{% endblock script %}