{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/section/section.css' %}">
{% endblock css %}


{% block title %}Section{% endblock title %}


{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}


{%block left_container %}
<div class="section-description-wrap">
	<div class="section-top">
		<div class="section-path-name">
			New publication section
<!--			<a href="{{ publication.get_absolute_url }}">{{ publication.name }}/</a><a> paint/</a>-->
		</div>
		<div id="section-detail-wrap" class="section-detail-wrap">
			<button class="section-detail-btn">
				Detail
			</button>
			<div id="section-detail-menu" class="section-detail-menu section-menu-hidden">
				<a href="#" class="section-detail-menu-item">
					Edit
				</a>
				<a class="section-detail-menu-item">
					New section
				</a>
				<a href="#" class="section-detail-menu-item delete-secton-btn">
					Delete
				</a>
			</div>
		</div>
	</div>
	<div class="section-image">
		<div class="section-image-wrap">
			<img src="{{ publication.image.url }}" alt="">
		</div>
	</div>
	<div class="section-text">
		{{ publication.description }}
	</div>
	<form method="post" class="header-search subsections-search">
		<input placeholder="Type a section address" type="text">
		<button>Search</button>
	</form>
	<div class="subsections-wrap">
		<a href="" class="subsection-item">
			Paint 🎨
		</a>
		<a href="" class="subsection-item">
			Drawing ✏️
		</a>
		<a href="" class="subsection-item">
			Pixel art 👾
		</a>
	</div>
</div>
{% endblock left_container %}


{% block right_container %}
<form method="post" enctype="multipart/form-data" class="new-section-form">
	{% csrf_token %}
	{{ form.media }}
	<div class="new-form-info">
		<div class="new-form-title">
			New pulication subsection
		</div>
		<button type="submit" class="new-form-seve-btn">
			Create
		</button>
	</div>
	<div class="subsection-form">
		<div class="form-item">
			<div class="form-title">
				Name
			</div>
			{{ form.name }}
		</div>
		<div id="form-item-parent-publication" class="form-item">
			<div class="form-title">
				Publication
			</div>
			{{ form.parent_publication }}
		</div>
		<div class="form-item">
			<div class="form-title">
				Content
			</div>
			{{ form.content }}
		</div>
	</div>
</form>
{% endblock right_container %}


{% block script %}
<script>
	document.getElementById('form-item-parent-publication').querySelector('input').value = '{{ publication.id }}';


	document.getElementById('section-detail-wrap').onclick = function(){
    	document.getElementById('section-detail-menu').classList.toggle('section-menu-hidden');
    }
</script>
{% endblock script %}