{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/section/section.css' %}">
{% endblock css %}


{% block title %}Section{% endblock title %}


{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}


{%block left_container %}
{% include 'includes/section/section_detail_left.html' %}
{% endblock left_container %}


{% block right_container %}
<form method="post" enctype="multipart/form-data" class="new-section-form">
	{% csrf_token %}
	<div class="new-form-info">
		<div class="new-form-title">
			New subsection
		</div>
		<button type="submit" class="new-form-seve-btn">
			Create
		</button>
	</div>
	<div class="subsection-form">
		<div class="form-item">
			<div class="form-title">
				Name
			</div>
			{{ form.name }}
		</div>
		<div id="form-item-parent-section">
			{{ form.parent_section }}
		</div>
	</div>
</form>
{% endblock right_container %}


{% block script %}
<script>
	let form_parent_section = document.getElementById('form-item-parent-section'); 
	form_parent_section.style.display = 'none';
	form_parent_section.querySelector('select').value = '{{ section.id }}';


	document.getElementById('section-detail-wrap').onclick = function(){
    	document.getElementById('section-detail-menu').classList.toggle('section-menu-hidden');
    }
</script>
{% endblock script %}