{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/section/section.css' %}">
{% endblock css %}


{% block title %}Section{% endblock title %}


{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}


{%block left_container %}
<div class="section-description-wrap">
	<div class="section-top">
		<div class="section-path-name">
			arts/paint/
		</div>
		<div id="section-detail-wrap" class="section-detail-wrap">
			<button class="section-detail-btn">
				Detail
			</button>
			<div id="section-detail-menu" class="section-detail-menu section-menu-hidden">
				<a href="#" class="section-detail-menu-item">
					Edit
				</a>
				<a href="#" class="section-detail-menu-item">
					New subsections
				</a>
				<a href="#" class="section-detail-menu-item delete-secton-btn">
					Delete
				</a>
			</div>
		</div>
	</div>
	<div class="section-image">
		<div class="section-image-wrap">
			<img src="{% static 'img/temp/2.jpg' %}" alt="">
		</div>
	</div>
	<div class="section-text">
		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
	</div>
	<form method="post" class="header-search subsections-search">
		<input placeholder="Type a section address" type="text">
		<button>Search</button>
	</form>
	<div class="subsections-wrap">
		<a href="" class="subsection-item">
			Paint 🎨
		</a>
		<a href="" class="subsection-item">
			Drawing ✏️
		</a>
		<a href="" class="subsection-item">
			Pixel art 👾
		</a>
	</div>
</div>
{% endblock left_container %}


{% block right_container %}
<div class="publication-place">
	<div class="publication-text">
		It is a long established fact that a reader will be 
		distracted by the readable content of a page when looking at its layout.
		It is a long established fact that a reader will be 
		distracted by the readable content of a page when 
		looking at its layout. The point of using Lorem Ipsum 
		is that it has a more-or-less normal distribution of 
		letters, as opposed to using 'Content here, content here', 
		making it look like readable English. Many desktop publishing 
		packages and web page editors now use Lorem Ipsum as their 
		default model text, and a search for 'lorem ipsum' will 
		uncover many web sites still in their infancy.
	</div>
	<div class="publication-image-wrap us">
		<img src="{% static 'img/1.jpg' %}" class="publication-image">
	</div>
	<div class="publication-text">
		It is a long established fact that a reader will be 
		distracted by the readable content of a page when looking at its layout.
		It is a long established fact that a reader will be 
		distracted by the readable content of a page when 
		looking at its layout. The point of using Lorem Ipsum 
		is that it has a more-or-less normal distribution of 
		letters, as opposed to using 'Content here, content here', 
		making it look like readable English. Many desktop publishing 
		packages and web page editors now use Lorem Ipsum as their 
		default model text, and a search for 'lorem ipsum' will 
		uncover many web sites still in their infancy.
	</div>
</div>
{% endblock right_container %}


{% block script %}
<script>
	document.getElementById('section-detail-wrap').onclick = function(){
    	document.getElementById('section-detail-menu').classList.toggle('section-menu-hidden');
    }
</script>
{% endblock script %}