{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/section/section.css' %}">
{% endblock css %}


{% block title %}Section{% endblock title %}


{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}


{%block left_container %}
<div class="section-description-wrap">
	<div class="section-top" id="section-top">
		<div class="section-path-name">
			New publication
		</div>
		<div id="section-detail-wrap" class="section-detail-wrap">
			<button class="section-detail-btn">
				Detail
			</button>
			<div id="section-detail-menu" class="section-detail-menu section-menu-hidden">
				<a href="{{ publication.get_category_edit_url }}?parentsection_id={{ parentsection_id }}" class="section-detail-menu-item">
					Edit content
				</a>
				<a href="{{ publication.get_edit_url }}?parentsection_id={{ parentsection_id }}" class="section-detail-menu-item">
					Edit publication
				</a>
				<a href="#" class="section-detail-menu-item delete-secton-btn">
					Delete
				</a>
			</div>
		</div>
	</div>
	<div class="section-image" id="section-image">
		<div class="section-image-wrap">
			<img src="{{ publication.image.url }}" alt="">
		</div>
	</div>
	<div class="section-left-content" id="section-left-content">
		<div class="section-text">
			{{ publication.description|safe }}
		</div>
	</div>
</div>
{% endblock left_container %}


{% block right_container %}
<div class="publication-place">
	{{ publication.content|safe }}
</div>
{% endblock right_container %}


{% block script %}
<script type="module">
	import { OverflowScreen } from '{% static "js/overflow_screen.js" %}';
	let screen = new OverflowScreen('overflow-transparent-screen');
	document.getElementById('section-detail-wrap').onclick = function(){
		let section_detail_menu = document.getElementById('section-detail-menu');
		section_detail_menu.classList.toggle('section-menu-hidden');
		screen.activateGlobalOverflowScreen();
		if(screen.activate && section_detail_menu.classList.contains('section-menu-hidden')){
			screen.deactivateGlobalOverflowScreen(function(){});
		}
		if(screen.activate){
			screen.deactivateGlobalOverflowScreenOnClick(function(){
				section_detail_menu.classList.toggle('section-menu-hidden');
			});
		}
    }
</script>
{% endblock script %}