{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/section/section.css' %}">
{% endblock css %}


{% block title %}{{ section.name }}{% endblock title %}


{% block central_panel %}
<div id="pop-up-overflow-screen" class="pop-up-overflow-screen pop-up-hover">
	<div id="central-pop-up-panel" class="central-pop-up-panel">
		
	</div>
</div>
{% endblock central_panel %}


{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}


{%block left_container %}
{% include 'includes/section/section_detail_left.html' %}
{% endblock left_container %}


{% block right_container %}
<div class="container-right-side-home">
	<form method="post" class="header-search search-sections-list">
        <input placeholder="Type a section address" type="text">
        <button>Search</button>
    </form>
	<div id="publication_container">
		{% if default_ss_values.count == 0 %}
			<div class="subsections-publications-not-found">
				<div class="publications-not-found-title">
					Publications not found
				</div>
				<div class="publications-not-found-create">
					You can create a <a href="{% url 'new_publication' %}?parentsection_id={{ section.id }}">new post</a>.
				</div>
			</div>
		{% else %}
			{% for def_publication in default_ss_values %}
			<div class="section-home">
				<div class="secton-top-descr">
					<a href="{{ def_publication.get_absolute_url }}?parent_section_id={{ section.id }}" class="section-name">{{ def_publication.name }}</a>
					<div class="section-update">update: 23.03.2023</div>
				</div>
				<div class="section-description-text">
					{{ def_publication.description }}
				</div>
				<div class="sections-bottom">
					<div class="section-tag-category">
						Prog
					</div>
					<div class="section-tag-category">
						#tag1
					</div>
					<div class="section-tag-category">
						#tag1
					</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock right_container %}


{% block script %}
<script>
	if(document.getElementById('manage_subsections')){
		document.getElementById('manage_subsections').onclick = function(){
			document.getElementById('pop-up-overflow-screen').classList.remove('pop-up-hover');
			document.getElementById('central-pop-up-panel').innerHTML = `
			<div class="pop-up-header">
			Manage subsections
			</div>
			<div class="pop-up-subsections-list">
				{% for subsection in section.subsectionmodel_set.all %}
				<form method="post" class="pop-up-subsection">
					{% csrf_token %}
					<input type="hidden" name="delete_subsection_id" value="{{ subsection.id }}">
					<div class="pop-up-subsection-name">
						{{ subsection.name }}
					</div>
					<div class="pop-up-subsection-buttons">
						<a href="{{ subsection.get_edit_url }}?parentsection_id={{ section.id }}" class="pop-up-subsection-edit-btn">Edit</a>
						<button class="pop-up-subsection-delete-btn">Delete</button>
					</div>
				</form method="post">
				{% endfor %}
			</div>
			`;
		}
	}

	if(document.getElementById('delete-secton-btn')){
		document.getElementById('delete-secton-btn').onclick = function(){
			document.getElementById('pop-up-overflow-screen').classList.remove('pop-up-hover');
			document.getElementById('central-pop-up-panel').innerHTML = `
			<div class="pop-up-header">
				Delete
			</div>
			<div class="pop-up-description">
				Are you sure you want to delete the section called "{{ section.name }}"? All internal data will also be deleted.
			</div>
			<form class="form-pop-up" method="post">
				{% csrf_token %}
				<input type="hidden" name="delete_section_id" value="{{ section.id }}">
				<button type="submit">Delete</button>
			</form>
			`;
		}
	}

	document.getElementById('pop-up-overflow-screen').addEventListener('click', function(evt) {
	let target = evt.target;
		if(target.className == 'pop-up-overflow-screen'){
			document.getElementById('pop-up-overflow-screen').classList.add('pop-up-hover');
		}
	}, false);

	function removeSelectClass(){
		for (let i = 0; i < document.getElementsByClassName('subsection-item').length; i++) {
			document.getElementsByClassName('subsection-item')[i].classList.remove('subsection-item-select')
		}
	}

	$('.subsection-item').click(function(){
		let sub_id = $(this).data('sub_id');
		removeSelectClass();
		$(this).addClass('subsection-item-select');
		$.ajax({
			data: $(this).serialize(),
			url: `{% url 'get_subsection_value' %}?count=2&sub_id=${sub_id}`,
			success: function(response){
				let data = '';
				
				// if publications not found
				if(response['sub_objects'].length == 0){
					data =`
					<div class="subsections-publications-not-found">
						<div class="publications-not-found-title">
							Publications not found
						</div>
						<div class="publications-not-found-create">
							You can create a <a href="{% url 'new_publication' %}?parentsection_id={{ section.id }}">new post</a>.
						</div>
					</div>`
				}
				// if publications found
				else{
					response.sub_objects.forEach(element => {
						data =`
						<div class="section-home">
							<div class="secton-top-descr">
								<a href="/section/publication/${element.id}?parent_section_id={{ section.id }}" class="section-name">${element.name}</a>
								<div class="section-update">update: 23.03.2023</div>
							</div>
							<div class="section-description-text">
								${element.description}
							</div>
							<div class="sections-bottom">
								<div class="section-tag-category">
									Prog
								</div>
								<div class="section-tag-category">
									#tag1
								</div>
								<div class="section-tag-category">
									#tag1
								</div>
							</div>
						</div>`
					});
				}
				document.getElementById('publication_container').innerHTML = data;
			},
			error: function(response){
				console.log(response.responseJSON.errors);
			}
		});
		return false;
	});


	document.getElementById('section-detail-wrap').onclick = function(){
    	document.getElementById('section-detail-menu').classList.toggle('section-menu-hidden');
    }
</script>
{% endblock script %}