{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/section/section.css' %}">
{% endblock css %}


{% block title %}{{ section.name }}{% endblock title %}


{% block central_panel %}

<div id="central-pop-up-panel-manage-subsections" class="central-pop-up-panel central-pop-up-panel-hidden">
	<div class="pop-up-header">
	Manage subsections
	</div>
	<div class="pop-up-subsections-list">
		
		<form method="post" class="pop-up-subsection">
			{% csrf_token %}
			<input type="hidden" name="delete_subsection_id" value="6">
			<div class="pop-up-subsection-name">
				1
			</div>
			<div class="pop-up-subsection-buttons">
				<a href="/section/subsection/edit/6?parentsection_id=2" class="pop-up-subsection-edit-btn">Edit</a>
				<button class="pop-up-subsection-delete-btn">Delete</button>
			</div>
		</form>
		
		<form method="post" class="pop-up-subsection">
			{% csrf_token %}
			<input type="hidden" name="delete_subsection_id" value="8">
			<div class="pop-up-subsection-name">
				OK!
			</div>
			<div class="pop-up-subsection-buttons">
				<a href="/section/subsection/edit/8?parentsection_id=2" class="pop-up-subsection-edit-btn">Edit</a>
				<button class="pop-up-subsection-delete-btn">Delete</button>
			</div>
		</form>
		
	</div>
</div>

<div id="central-pop-up-panel-delete-section" class="central-pop-up-panel central-pop-up-panel-hidden">
	<div class="pop-up-header">
		Delete
	</div>
	<div class="pop-up-description">
		Are you sure you want to delete the section called "{{ section.name }}"? All internal data will also be deleted.
	</div>
	<form class="form-pop-up" method="post">
		{% csrf_token %}
		<input type="hidden" name="delete_section_id" value="{{ section.id }}">
		<button type="submit">Delete</button>
	</form>
</div>


{% endblock central_panel %}


{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}


{%block left_container %}
{% include 'includes/section/section_detail_left.html' %}
{% endblock left_container %}


{% block right_container %}
<div class="container-right-side-home">
	<form method="post" class="header-search search-sections-list">
        <input placeholder="Type a section address" type="text">
        <button>Search</button>
    </form>
	<div id="publication_container">
		{% if default_ss_values.count == 0 %}
			<div class="subsections-publications-not-found">
				<div class="publications-not-found-title">
					Publications not found
				</div>
				<div class="publications-not-found-create">
					You can create a <a href="{% url 'new_publication' %}?parentsection_id={{ section.id }}">new post</a>.
				</div>
			</div>
		{% else %}
			{% for def_publication in default_ss_values %}
			<div class="section-home">
				<div class="secton-top-descr">
					<a href="{{ def_publication.get_absolute_url }}?parentsection_id={{ section.id }}" class="section-name">{{ def_publication.name }}</a>
					<div class="section-update">update: 23.03.2023</div>
				</div>
				<div class="section-description-text">
					{{ def_publication.description|safe }}
				</div>
				<div class="sections-bottom">
					<div class="section-tag-category">
						Prog
					</div>
					<div class="section-tag-category">
						#tag1
					</div>
					<div class="section-tag-category">
						#tag1
					</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock right_container %}


{% block script %}

<script type="module">
	import { resizeLeftContent } from '{% static "js/section/section.js" %}';
	resizeLeftContent('section-top', 'section-image', 'section-left-content');

	window.onresize = function(){
		resizeLeftContent('section-top', 'section-image', 'section-left-content');
	}

	function removeSelectClass(){
		for (let i = 0; i < document.getElementsByClassName('subsection-item').length; i++) {
			document.getElementsByClassName('subsection-item')[i].classList.remove('subsection-item-select')
		}
	}

	$('.subsection-item').click(function(){
		let sub_id = $(this).data('sub_id');
		removeSelectClass();
		$(this).addClass('subsection-item-select');
		$.ajax({
			data: $(this).serialize(),
			url: `{% url 'get_subsection_value' %}?count=2&sub_id=${sub_id}`,
			success: function(response){
				let data = '';
				
				// if publications not found
				if(response['sub_objects'].length == 0){
					data =`
					<div class="subsections-publications-not-found">
						<div class="publications-not-found-title">
							Publications not found
						</div>
						<div class="publications-not-found-create">
							You can create a <a href="{% url 'new_publication' %}?parentsection_id={{ section.id }}">new post</a>.
						</div>
					</div>`
				}
				// if publications found
				else{
					response.sub_objects.forEach(element => {
						console.log(element.id);
						data +=`
						<div class="section-home">
							<div class="secton-top-descr">
								<a href="/section/publication/${element.id}?parentsection_id={{ section.id }}" class="section-name">${element.name}</a>
								<div class="section-update">update: 23.03.2023</div>
							</div>
							<div class="section-description-text">
								${element.description}
							</div>
							<div class="sections-bottom">
								<div class="section-tag-category">
									Prog
								</div>
								<div class="section-tag-category">
									#tag1
								</div>
								<div class="section-tag-category">
									#tag1
								</div>
							</div>
						</div>`
					});
				}
				document.getElementById('publication_container').innerHTML = data;
			},
			error: function(response){
				console.log(response.responseJSON.errors);
			}
		});
		return false;
	});
</script>

<script type="module">
import { OverflowScreen } from '{% static "js/overflow_screen.js" %}';
let screen = new OverflowScreen('overflow-transparent-screen');

document.getElementById('section-detail-wrap').onclick = function(){
	let section_detail_menu = document.getElementById('section-detail-menu');
	section_detail_menu.classList.toggle('section-menu-hidden');
	screen.activateGlobalOverflowScreen();
	if(screen.activate && section_detail_menu.classList.contains('section-menu-hidden')){
		screen.deactivateGlobalOverflowScreen(function(){});
	}
	if(screen.activate){
		screen.deactivateGlobalOverflowScreenOnClick(function(){
			section_detail_menu.classList.add('section-menu-hidden');
		});
	}
}

if(document.getElementById('manage_subsections')){
	document.getElementById('manage_subsections').onclick = function(){
		let screen_ms = new OverflowScreen('overflow-transparent-screen-second');
		let central_pop_up_panel_manage_subsections = document.getElementById('central-pop-up-panel-manage-subsections');
		central_pop_up_panel_manage_subsections.classList.toggle('central-pop-up-panel-hidden');
		screen_ms.activateGlobalOverflowScreen();
	
		if(screen_ms.activate){
			screen_ms.deactivateGlobalOverflowScreenOnClick(function(){
				central_pop_up_panel_manage_subsections.classList.add('central-pop-up-panel-hidden');
			});
		}
	}
}

document.getElementById('delete-secton-btn').onclick = function(){
	let screen_ms = new OverflowScreen('overflow-transparent-screen-second');
	let central_pop_up_panel_delete_section = document.getElementById('central-pop-up-panel-delete-section');
	central_pop_up_panel_delete_section.classList.toggle('central-pop-up-panel-hidden');
	screen_ms.activateGlobalOverflowScreen();

	if(screen_ms.activate){
		screen_ms.deactivateGlobalOverflowScreenOnClick(function(){
			central_pop_up_panel_delete_section.classList.add('central-pop-up-panel-hidden');
		});
	}
}

</script>
{% endblock script %}