.section-description-wrap{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.section-top{
	display: flex;
	justify-content: space-between;	
	box-sizing: border-box;
	padding: 10px;
}

.section-path-name{
	color: #373B4B;
	font-size: 14pt;
}

.section-detail-btn{
	width: 80px;
	font-size: 14pt;
	background-color: #13131C;
	border-radius: 5px;
	border: 1px solid #373B4B;
	outline: none;
	transition: .1s;
}

.section-detail-btn:hover{
	cursor: pointer;
	background-color: #373B4B;
}

.section-detail-wrap{
	position: relative;
	z-index: 110;
}

.section-detail-menu{
	position: absolute;
	width: 200px;
	right: 0;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 10px;
	background-color: #13131C;
	border: 1px solid #373B4B;
	border-radius: 5px;
}

.section-detail-menu-item{
	text-decoration: none;
	font-size: 13pt;
	padding: 5px 10px;
	border-radius: 5px;
}

.section-detail-menu-item:hover{
	cursor: pointer;
	background-color: #373B4B;
}

.delete-secton-btn{
	color: rgb(229, 22, 22);
}

.section-menu-hidden{
	display: none;
}

.section-image-wrap{
	width: 100%;
	overflow: hidden;
}

.section-image-wrap img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-left-content{
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.section-text{
	box-sizing: border-box;
	padding: 10px;
	font-size: 13pt;
	overflow-wrap: break-word;
}

.section-text blockquote{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
	border-left: 2px solid #ccc;
	padding-left: 5px;
}

.section-text ul, ol{
	margin-left: 20px;
}

.subsections-search{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.subsections-wrap{
	width: 90%;
	border-radius: 5px;
	border: 1px solid #373B4B;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.subsection-item{
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	transition: .1s;
	border-radius: 5px;
	text-decoration: none;
	font-size: 13pt;
	margin-bottom: 10px;
}

.subsection-item-select{
    background-color: #373B4B;
}

.subsection-item:hover{
	cursor: pointer;
	background-color: #373B4B;
}

.search-sections-list{
	width: 100%;
	box-sizing: border-box;
	height: 40px;
}

.publication-place{
	width: 100%;
	height: 100%;
	border-left: 1px solid #373B4B;
	background-color: #161621;
	box-sizing: border-box;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
	font-size: 13pt;
	overflow-y: scroll;
}

.publication-text{
	font-family: 'Nunito', sans-serif;
	font-size: 13pt;
}

.publication-image-wrap{
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

.publication-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.new-section-form{
	width: 100%;
	height: 100%;
	background-color: #161621;
	border-left: 1px solid #373B4B;
	box-sizing: border-box;
	padding: 10px;
}

.new-form-info{
	display: flex;
	justify-content: space-between;
}

.new-form-title{
	font-size: 13pt;
	color: #fff;
}

.new-form-seve-btn{
	width: 100px;
	height: 30px;
	background-color: #00A811;
	font-size: 13pt;
	border: none;
	outline: none;
	border-radius: 5px;
	transition: .1s;
}

.new-form-seve-btn:hover{
	cursor: pointer;
	filter: brightness(90%);
}

.form-tabs{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	height: calc(100% - 40px);
}

.f-tabs{
	display: flex;
}

/* .tab-btn{
	width: 100px;
	height: 30px;
	background-color: #373B4B;
	border: none;
	outline: none;
	margin-right: 10px;
	font-size: 13pt;
	border-radius: 5px 5px 0 0;
	transition: .1s;
}

.tab-btn:hover{
	cursor: pointer;
	background-color: #1D1F29;
} */

.tab-content{
	background-color: #1D1F29;
	width: 100%;
	height: 100%;
	border-radius: 0 5px 5px 5px;
	box-sizing: border-box;
	overflow-y: scroll;
}

.form-items-wrap{
	padding: 10px;
}

.tab-btn-active{
	background-color: #1D1F29;
}

.form-title{
	font-size: 14pt;
}

.form-item{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-item input{
	margin-top: 5px;
	box-sizing: border-box;
}

.form-item input[type="text"]{
	border: 1px solid #373B4B;
	background-color: #13131C;
	padding: 8px;
	outline: none;
	font-size: 13pt;
	border-radius: 5px;
}


.form-item textarea{
	box-sizing: border-box;
	border: 1px solid #373B4B;
	background-color: #13131C;
	padding: 8px;
	outline: none;
	font-size: 13pt;
	border-radius: 5px;
	margin-top: 5px;
	resize: vertical;
	height: 100px;
}

.style-editor-wrap{
	width: 100%;
	height: 100%;
	background-color: #1D1F29;
}

.style-editor-wrap textarea{
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: none;
	box-sizing: border-box;
	font-size: 13pt;
	border: none;
	padding: 10px;
}

.subsection-form{
	display: flex;
	flex-direction: column;
}

.form-item select{
	width: fit-content;
	background-color: #1D1F29;
	border: 1px solid #373B4B;
	outline: none;
	border-radius: 5px;
	padding: 5px;
}

.section-tags{
	padding: 20px;
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.s-tag{
	margin-right: 5px;
	color: rgb(69, 69, 255);
}

.subsections-not-found{
	color: rgb(229, 22, 22);
}

.subsections-publications-not-found{
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.publications-not-found-title{
	font-size: 18pt;
	margin: 0 auto;
}

.publications-not-found-create{
	margin: 0 auto;
	margin-top: 5px;
	font-size: 14pt;
}

.publications-not-found-create a{
	color: rgb(69, 69, 255);
}

.tox-sidebar-wrap{
	background-color: #fff;
}

code{
	padding: 5px;
	background-color: #282a36;
	border-radius: 5px;
	margin-top: 10px;
}

pre{
	margin: 10px 0;
}

.pop-up-overflow-screen{
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}

.central-pop-up-panel{
	position: absolute;
	background-color: #13131C;
	border: 1px solid #373B4B;
	width: 400px;
	height: fit-content;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	left: calc(50% - 200px);
	top: 30%;
	display: flex;
	flex-direction: column;
	z-index: 110;
}

.central-pop-up-panel-hidden{
	display: none;
}

.pop-up-header{
	font-size: 16pt;
	border-bottom: 1px solid #373B4B;
	margin-bottom: 5px;
}

.pop-up-description{
	font-size: 13pt;
}

.form-pop-up{
	width: 100%;
	display: flex;
}

.form-pop-up button{
	margin-top: 10px;
	margin-left: auto;
	width: 80px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: rgb(229, 22, 22);
	font-size: 13pt;
	text-align: center;
}

.form-pop-up button:hover{
	cursor: pointer;
	filter: brightness(90%);
}

.pop-up-hover{
	display: none;
}

.pop-up-subsections-list{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.pop-up-subsection{
	display: flex;
	padding: 5px 10px;
	border-radius: 5px;
	transition: .1s;
	margin-bottom: 10px;
}

.pop-up-subsection:hover{
	background-color: #373B4B;
}

.pop-up-subsection-name{
	font-size: 13pt;
}

.pop-up-subsection-buttons{
	display: flex;
	margin-left: auto;
}

.pop-up-subsection-buttons a{
	text-decoration: none;
}

.pop-up-subsection-buttons button{
	background-color: transparent;
	border: none;
	outline: none;
	margin-left: 10px;
	font-size: 13pt;
	transition: .1s;
}

.pop-up-subsection-delete-btn:hover{
	color: rgb(229, 22, 22);
	cursor: pointer;
}

.pop-up-subsection-edit-btn:hover{
	color: rgb(69, 69, 255);
	cursor: pointer;
}

.edit-publication-content{
	margin-top: 10px;
}