{% extends "account/base.html" %}
{% load static %}

{% block container_right %}
<div class="auth-container">
    <form class="authForm" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="submit-auth-btn submitBtn" type="submit"> Sign In </button>
    </form>
</div>
{% endblock container_right %}

{% block script %}
<script>
  SetActiveBtn('log_in');
</script>
{% endblock script %}