{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block container_right %}
<div class="auth-container">
    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="authForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit-auth-btn" type="submit">Reset My Password</button>
    </form>
    <p class="auth-bottom-text">Please contact us if you have any trouble resetting your password.</p>
</div>
{% endblock container_right %}

{% block script %}
<script>
  SetActiveBtn('reset_passw');
</script>
{% endblock script %}