{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}

{% block left_container %}
<div class="container-jeft-side-home">
	<div class="popular-sections">
		<div class="popular-sections-title">
			Popular sections
		</div>
		<a href="" class="section-mini">
			<div class="section-mini-name">
				<div class="smn">
					First section
				</div>
				<div class="smn-update">
					update: 23.03.2023
				</div>
			</div>
			<div class="section-mini-descr">
				<div class="section-tag-category">
					Prog
				</div>
				<div class="section-tag-category">
					#tag1
				</div>
				<div class="section-tag-category">
					#tag1
				</div>
			</div>
		</a>
		<a href="" class="section-mini">
			<div class="section-mini-name">
				<div class="smn">
					First section
				</div>
				<div class="smn-update">
					update: 23.03.2023
				</div>
			</div>
			<div class="section-mini-descr">
				<div class="section-tag-category">
					Prog
				</div>
				<div class="section-tag-category">
					#tag1
				</div>
				<div class="section-tag-category">
					#tag1
				</div>
			</div>
		</a>
	</div>
</div>
{% endblock left_container %}

{% block right_container %}
<div class="container-right-side-home">
	{% for section in sections %}
		<div class="section-home">
		<div class="secton-top-descr">
			<a href="{{ section.get_absolute_url }}" class="section-name">{{ section.name }}</a>
			<div class="section-update">update: 23.03.2023</div>
		</div>
		<div class="section-description-text">
			{{ section.description|safe }}
		</div>
		<div class="sections-bottom">
			<div class="section-tag-category">
				Prog
			</div>
			<div class="section-tag-category">
				#tag1
			</div>
			<div class="section-tag-category">
				#tag1
			</div>
		</div>
	</div>
	{% endfor %}
<!--	<div class="section-home">-->
<!--		<div class="secton-top-descr">-->
<!--			<a href="" class="section-name">Section</a>-->
<!--			<div class="section-update">update: 23.03.2023</div>-->
<!--		</div>-->
<!--		<div class="section-description-text">-->
<!--			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.-->
<!--		</div>-->
<!--		<div class="sections-bottom">-->
<!--			<div class="section-tag-category">-->
<!--				Prog-->
<!--			</div>-->
<!--			<div class="section-tag-category">-->
<!--				#tag1-->
<!--			</div>-->
<!--			<div class="section-tag-category">-->
<!--				#tag1-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="section-home">-->
<!--		<div class="secton-top-descr">-->
<!--			<a href="" class="section-name">Section</a>-->
<!--			<div class="section-update">update: 23.03.2023</div>-->
<!--		</div>-->
<!--		<div class="section-description-text">-->
<!--			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.-->
<!--		</div>-->
<!--		<div class="sections-bottom">-->
<!--			<div class="section-tag-category">-->
<!--				Prog-->
<!--			</div>-->
<!--			<div class="section-tag-category">-->
<!--				#tag1-->
<!--			</div>-->
<!--			<div class="section-tag-category">-->
<!--				#tag1-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="section-home">-->
<!--		<div class="secton-top-descr">-->
<!--			<a href="" class="section-name">Section</a>-->
<!--			<div class="section-update">update: 23.03.2023</div>-->
<!--		</div>-->
<!--		<div class="section-description-text">-->
<!--			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.-->
<!--		</div>-->
<!--		<div class="sections-bottom">-->
<!--			<div class="section-tag-category">-->
<!--				Prog-->
<!--			</div>-->
<!--			<div class="section-tag-category">-->
<!--				#tag1-->
<!--			</div>-->
<!--			<div class="section-tag-category">-->
<!--				#tag1-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</div>
{% endblock right_container %}
